<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <title th:text="#{createEventSummary.title}"></title>
</head>
<body>

<div class="container">
    <h1 th:text="#{createEventSummary.mainText}"></h1>

    <form action="#" method="post" th:action="@{/wydarzenia/dodaj/wyslij}" th:object="${event}">
        <h3 th:text="#{createEventSummary.eventInfo}"></h3>
        <div class="form-group">
            <label for="event-name" th:text="#{createEventSummary.eventName.label}"></label>
            <input class="form-control" id="event-name" th:name="name"
                   th:readonly="true" th:value="*{name}" type="text"/>
        </div>
        <div class="form-group">
            <label for="event-category" th:text="#{createEventSummary.eventCategory.label}"></label>
            <select class="form-control" id="event-category" th:field="*{category}" th:readonly="true">
                <th:block th:each="category : ${eventCategories}">
                    <option th:selected="${event.category==category.value}" th:text="${category.name}"
                            th:value="${category.value}"></option>
                </th:block>
            </select>
        </div>

        <div class="form-group">
            <label for="event-place" th:text="#{createEventSummary.eventPlace.label}"></label>
            <select class="form-control" id="event-place" th:field="*{place}" th:readonly="true">
                <th:block th:each="place : ${eventPlaces}">
                    <option th:selected="${event.place==place.value}" th:text="${place.name}"
                            th:value="${place.value}"></option>
                </th:block>
            </select>
        </div>

        <div class="form-group">
            <label for="organization-name" th:text="#{createEventSummary.organizationName.label}"></label>
            <input class="form-control" id="organization-name" th:name="organizationName"
                   th:readonly="true" th:value="*{organizationName}" type="text"/>
        </div>

        <div class="form-group">
            <label for="date-of-event" th:text="#{createEventSummary.eventDate.label}"></label>
            <input class="form-control" id="date-of-event" th:name="dateOfTheEvent"
                   th:readonly="true" th:value="*{dateOfTheEvent}"/>
        </div>

        <div class="form-group">
            <label for="description" th:text="#{createEventSummary.eventDescription.label}"></label>
            <input class="form-control" id="description" th:name="description"
                   th:readonly="true" th:value="*{description}" type="text"/>
        </div>

        <div class="form-group">
            <label for="number-of-participants" th:text="#{createEventSummary.numberOfParticipants.label}"></label>
            <input class="form-control" id="number-of-participants" th:name="plannedNumberOfParticipants"
                   th:readonly="true" th:value="*{plannedNumberOfParticipants}" type="text"/>
        </div>
        <div class="form-group">
            <label for="comments" th:text="#{createEventSummary.comments.label}"></label>
            <textarea class="form-control" id="comments"
                      th:name="comments" th:readonly="true" th:text="*{comments}"></textarea>
        </div>

        <div class="form-group">
            <label for="regulations" th:text="#{createEvent.regulations.label}"></label>
            <input id="regulations" name="regulations" th:checked="*{regulations}" type="checkbox"/>
            <a href="regulations" target="_blank" th:text="#{createEventSummary.regulations.link.text}"></a>
        </div>

        <h3 th:text="#{createEventSummary.organizer.info}"></h3>
        <div class="form-group">
            <div class="row">
                <div class="col-6">
                    <label for="organizer-name" th:text="#{createEventSummary.organizerName.label}"></label>
                    <input class="form-control" id="organizer-name" th:name="organizerName"
                           th:readonly="true" th:value="*{organizerName}" type="text"/>
                </div>
                <div class="col-6">
                    <label for="organizer-surname" th:text="#{createEventSummary.organizerSurname.label}"></label>
                    <input class="form-control" id="organizer-surname" th:name="organizerSurname"
                           th:readonly="true" th:value="*{organizerSurname}" type="text"/>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="phone" th:text="#{createEventSummary.organizerPhoneNumber.label}"></label>
            <input class="form-control" id="phone" th:name="organizerPhoneNumber"
                   th:readonly="true" th:value="*{organizerPhoneNumber}" type="text"/>
        </div>
        <div class="form-group">
            <label for="email" th:text="#{createEventSummary.organizerEmail.label}"></label>
            <input class="form-control" id="email" th:name="organizerEmail"
                   th:readonly="true" th:value="*{organizerEmail}" type="text"/>
        </div>


        <div class="form-group">
            <label for="rodo-clause" th:text="#{createEventSummary.rodo.label}"></label>
            <input id="rodo-clause" name="rodoClause" th:checked="*{rodoClause}" th:readonly="true" type="checkbox"/>
        </div>

        <h3 th:text="#{createEventSummary.additionalServices.info}"></h3>
        <div class="form-group">
            <label for="promotional-campaign" th:text="#{createEventSummary.promotionalCampaign.label}"></label>
            <input id="promotional-campaign" name="promotionalCampaign" th:checked="*{promotionalCampaign}"
                   th:readonly="true" type="checkbox"/>
        </div>
        <div class="form-group">
            <label for="photograph" th:text="#{createEventSummary.photograph.label}"></label>
            <input id="photograph" name="photograph" th:checked="*{photograph}"
                   th:readonly="true" type="checkbox"/>
        </div>

        <div class="form-group">
            <button class="btn btn-danger" id="backButton" th:text="#{createEventSummary.button.back}" type="button">
            </button>
            <button class="btn btn-primary" th:text="#{createEventSummary.button.submit}" type="submit">
            </button>
        </div>
    </form>
</div>
<script th:src="@{/js/create_event_summary.js}" type="application/javascript"></script>
</body>
</html>
