<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>

    <title th:text="#{eventManagement.title}"></title>
</head>
<body>
<div class="container">
    <div class="row">
        <h1 class="col-12 text-center" th:text="#{eventManagement.mainText}"></h1>
    </div>
    <div class="row">
        <h2 th:text="#{eventManagement.events.table.header}"></h2>
    </div>
    <div class="row">
        <div class="col-12">
            <table id="newEventsTable" class="display">
                <thead>
                <tr>
                    <th scope="col" th:text="#{eventManagement.events.table.th.eventName}"></th>
                    <th scope="col" th:text="#{eventManagement.events.table.th.eventCategory}"></th>
                    <th scope="col" th:text="#{eventManagement.events.table.th.eventDate}"></th>
                    <th scope="col" th:text="#{eventManagement.events.table.th.eventStatus}"></th>
                    <th scope="col" th:text="#{eventManagement.events.table.th.actionButtons}"></th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="event : ${events}">
                    <tr>
                        <td th:text="${event.name}"></td>
                        <td th:text="${event.category}"></td>
                        <td th:text="${event.dateOfTheEvent}"></td>
                        <td th:text="${event.status}"></td>
                        <td>
                            <form th:action="@{/zarzadzanieWydarzeniami/wydarzenie}" method="get">
                                <label>
                                    <input hidden="hidden" name="id" th:value="${event.id}" type="number"/>
                                </label>
                                <button class="btn btn-warning"
                                        th:text="#{eventManagement.events.eventDetails.button.text}"></button>
                            </form>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>

    <hr>

    <div class="row">
        <h2 th:text="#{eventManagement.persons.table.header}"></h2>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="display" id="personDetailsTable">
                <thead>
                <tr>
                    <th scope="col" th:text="#{eventManagement.persons.table.th.name}"></th>
                    <th scope="col" th:text="#{eventManagement.persons.table.th.surname}"></th>
                    <th scope="col" th:text="#{eventManagement.persons.table.th.email}"></th>
                    <th scope="col" th:text="#{eventManagement.persons.table.th.actionButtons}"></th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="person : ${persons}">
                    <tr>
                        <td th:text="${person.name}"></td>
                        <td th:text="${person.surname}"></td>
                        <td th:text="${person.email}"></td>
                        <td>
                            <form method="get" th:action="@{/zarzadzanieDanymiOsobowymi/osoba}">
                                <label>
                                    <input hidden="hidden" name="id" th:value="${person.id}" type="number"/>
                                </label>
                                <button class="btn btn-warning"
                                        th:text="#{eventManagement.persons.userDetails.button.text}"></button>
                            </form>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="application/javascript" th:src="@{/js/events_management.js}"></script>
</body>
</html>