<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <title th:text="#{eventsManagementEvent.title}"></title>
</head>
<body>

<div class="container">
    <h1 th:text="#{eventsManagementEvent.mainText}"></h1>

    <form action="#" th:action="@{/zarzadzanieWydarzeniami/wydarzenie/zapisz}" th:object="${event}" method="post">
        <input th:name="id" th:value="*{id}" type="hidden"/>

        <h3 th:text="#{eventsManagementEvent.eventInfo}"></h3>
        <div class="form-group">
            <label for="event-name" th:text="#{eventsManagementEvent.eventName.label}"></label>
            <input id="event-name" class="form-control" type="text"
                   th:name="name" th:value="*{name}"/>
            <div class="alert alert-danger" th:if="${#fields.hasErrors('name')}">
                <span th:errors="*{name}"></span>
            </div>
        </div>
        <div class="form-group">
            <label for="event-category" th:text="#{eventsManagementEvent.eventCategory.label}"></label>
            <select id="event-category" class="form-control" th:field="*{category}">
                <th:block th:each="category : ${eventCategories}">
                    <option th:selected="${event.category==category.value}" th:value="${category.value}"
                            th:text="${category.name}"></option>
                </th:block>
            </select>
            <div class="alert alert-danger" th:if="${#fields.hasErrors('category')}">
                <span th:errors="*{category}"></span>
            </div>
        </div>

        <div class="form-group">
            <label for="event-place" th:text="#{eventsManagementEvent.eventPlace.label}"></label>
            <select id="event-place" class="form-control" th:field="*{place}">
                <th:block th:each="place : ${eventPlaces}">
                    <option th:selected="${event.place==place.value}" th:value="${place.value}"
                            th:text="${place.name}"></option>
                </th:block>
            </select>
            <div class="alert alert-danger" th:if="${#fields.hasErrors('place')}">
                <span th:errors="*{place}"></span>
            </div>
        </div>

        <div class="form-group">
            <label for="organization-name" th:text="#{eventsManagementEvent.organizationName.label}"></label>
            <input id="organization-name" class="form-control" type="text"
                   th:name="organizationName" th:value="*{organizationName}"/>
            <div class="alert alert-danger" th:if="${#fields.hasErrors('organizationName')}">
                <span th:errors="*{organizationName}"></span>
            </div>
        </div>

        <div class="form-group">
            <label for="date-of-event" th:text="#{eventsManagementEvent.eventDate.label}"></label>
            <input id="date-of-event" class="form-control"
                   th:field="*{dateOfTheEvent}" th:name="dateOfTheEvent"/>
            <div class="alert alert-danger" th:if="${#fields.hasErrors('dateOfTheEvent')}">
                <span th:errors="*{dateOfTheEvent}"></span>
            </div>
        </div>

        <div class="form-group">
            <label for="description" th:text="#{eventsManagementEvent.eventDescription.label}"></label>
            <textarea class="form-control" id="description" th:field="*{description}"></textarea>
            <div class="alert alert-danger" th:if="${#fields.hasErrors('description')}">
                <span th:errors="*{description}"></span>
            </div>
        </div>

        <div class="form-group">
            <label for="number-of-participants" th:text="#{eventsManagementEvent.numberOfParticipants.label}"></label>
            <input id="number-of-participants" class="form-control" type="text"
                   th:name="plannedNumberOfParticipants" th:value="*{plannedNumberOfParticipants}"/>
            <div class="alert alert-danger" th:if="${#fields.hasErrors('plannedNumberOfParticipants')}">
                <span th:errors="*{plannedNumberOfParticipants}"></span>
            </div>
        </div>
        <div class="form-group">
            <label for="comments" th:text="#{eventsManagementEvent.comments.label}"></label>
            <textarea id="comments" class="form-control"
                      th:name="comments" th:text="*{comments}"></textarea>
            <div class="alert alert-danger" th:if="${#fields.hasErrors('comments')}">
                <span th:errors="*{comments}"></span>
            </div>
        </div>

        <h3 th:text="#{eventsManagementEvent.organizer.info}"></h3>
        <div class="form-group">
            <div class="row">
                <div class="col-6">
                    <label for="organizer-name" th:text="#{eventsManagementEvent.organizerName.label}"></label>
                    <input class="form-control" id="organizer-name" th:field="*{organizerName}" type="text"/>
                    <div class="alert alert-danger" th:if="${#fields.hasErrors('organizerName')}">
                        <span th:errors="*{organizerName}"></span>
                    </div>
                </div>
                <div class="col-6">
                    <label for="organizer-surname" th:text="#{eventsManagementEvent.organizerSurname.label}"></label>
                    <input class="form-control" id="organizer-surname" th:field="*{organizerSurname}" type="text"/>
                    <div class="alert alert-danger" th:if="${#fields.hasErrors('organizerSurname')}">
                        <span th:errors="*{organizerSurname}"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="phone" th:text="#{eventsManagementEvent.organizerPhoneNumber.label}"></label>
            <input class="form-control" id="phone" th:field="*{organizerPhoneNumber}" type="text"/>
            <div class="alert alert-danger" th:if="${#fields.hasErrors('organizerPhoneNumber')}">
                <span th:errors="*{organizerPhoneNumber}"></span>
            </div>
        </div>
        <div class="form-group">
            <label for="email" th:text="#{eventsManagementEvent.organizerEmail.label}"></label>
            <input class="form-control" id="email" th:field="*{organizerEmail}" type="email"/>
            <div class="alert alert-danger" th:if="${#fields.hasErrors('organizerEmail')}">
                <span th:errors="*{organizerEmail}"></span>
            </div>
        </div>

        <div class="form-group">
            <label for="rodo-clause" th:text="#{eventsManagementEvent.rodo.label}"></label>
            <input id="rodo-clause" name="rodoClause" th:checked="*{rodoClause}" th:readonly="true" type="checkbox"/>
        </div>

        <h3 th:text="#{eventsManagementEvent.additionalServices.info}"></h3>
        <div class="form-group">
            <label for="promotional-campaign" th:text="#{eventsManagementEvent.promotionalCampaign.label}"></label>
            <input id="promotional-campaign" name="promotionalCampaign" th:checked="*{promotionalCampaign}"
                   th:readonly="true" type="checkbox"/>
        </div>
        <div class="form-group">
            <label for="photograph" th:text="#{eventsManagementEvent.photograph.label}"></label>
            <input id="photograph" name="photograph" th:checked="*{photograph}"
                   th:readonly="true" type="checkbox"/>
        </div>

        <h3 th:text="#{eventsManagementEvent.eventStatus.info}"></h3>
        <div class="form-group">
            <label for="event-status" th:text="#{eventsManagementEvent.eventStatus.label}"></label>
            <select class="form-control" id="event-status" th:field="*{status}">
                <th:block th:each="status : ${eventStatuses}">
                    <option th:selected="${event.status==status.value}" th:text="${status.name}"
                            th:value="${status.value}"></option>
                </th:block>
            </select>
        </div>
        <div class="row">
            <div class="form-group">
                <label>
                    <input hidden="hidden" id="eventId" th:value="${event.id}"/>
                </label>
                <button class="btn btn-danger" id="deleteEvent"
                        th:text="#{eventsManagementEvent.event.deleteEvent.text}" type="button"
                        value="save"></button>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <button class="btn btn-warning" id="backButton"
                        th:text="#{eventsManagementEvent.event.cancelButton.text}"
                        type="button">
                </button>
                <button class="btn btn-primary" th:text="#{eventsManagementEvent.saveChanges.button.text}"
                        type="submit">
                </button>
            </div>
        </div>
    </form>
</div>
<script th:src="@{/js/events_management_event.js}" type="application/javascript"></script>
</body>
</html>
