<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <title th:text="#{home.pageTitle}"></title>
</head>
<body>
<div class="container">
    <div class="row">
        <h1 class="col-12 text-center" th:text="#{home.mainText}"></h1>
    </div>
    <div class="row">
        <div class="text-center">
            <form action="wydarzenia/dodaj" method="get">
                <button class="btn btn-primary" type="submit" th:text="#{home.addEvent.button}"></button>
            </form>
        </div>
    </div>
    <!--    <div class="row">
            <div class="form-group">
                <label for="locales" th:text="#{home.chooseLanguage.label}">
                </label>
                <select id="locales">
                    <option value=""></option>
                    <option value="en" th:text="#{home.lang.eng}"></option>
                    <option value="pl" th:text="#{home.lang.pl}"></option>
                </select>
            </div>
        </div>-->
</div>
<script type="application/javascript" th:src="@{/js/home.js}"></script>
</body>
</html>
